* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.nav-link {
  &:hover {
    border-bottom: 1px solid black;
  }

  border-bottom: 1px solid transparent;
  transition: border-bottom .5s ease;
}

.active {
  border-bottom: 1px solid black;
}

#filter_form {
  width: 100%;

  .main_filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
}

.line {
  width: 100%;
  border: .5px rgba(0, 0, 0, 0.2) dotted;
}



